/* .basic>root {
  height: 500;
} */

/* .basic {
  margin-right: 5px
}


.MuiSlider-marked.MuiSlider-vertical {
    margin-right: 20px;
    margin-bottom: auto;
} */


.colorPrimary {
  color: "red"
}

.MuiSlider-root {

  color: #3f61b5

}
